.App {
  display: flex;
  flex-direction: column;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 25rem;
  height: 20rem; */
  margin: 10rem auto 3rem;
  /* background-color: rgba(60, 6, 168, 0.585); */
  border-radius: 15px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
